SOCIAL_AUTH_AUTH0_OPENIDCONNECT_DOMAIN="example.auth0.com"
SOCIAL_AUTH_AUTH0_OPENIDCONNECT_KEY="your-auth0-client-id"
SOCIAL_AUTH_AUTH0_OPENIDCONNECT_SECRET="your-auth0-client-secret"
SECRET_KEY = "your-django-secret-key"
POSTGRES_USER=recipes
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_DB=recipes
POSTGRES_HOST=database
